* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    font-family: 'Fenix', serif;
}

/* PRODUCTOS */

#productos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

.imagen {
    height: 200px;
    width: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-body {
    padding: 20px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 15px;
}

.nombreProducto {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}

.nombreProducto:hover {
    cursor: default;
}

.precio {
    text-align: center;
    font-size: 12.5px;
}

.precio:hover {
    cursor: default;
}

@media (min-width: 768px) {
    #productos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .imagen {
        height: 250px;
        width: 200px
    }
}

/* BOTON COMPRAR */

.botonComprar {
    width: 100%;
    font-size: 14px;
    background-color: white;
    color: #141414;
    border: 0;
}

.botonComprar:hover {
    color: rgba(187, 163, 157, 0.692);
}

@media (min-width: 768px) {
    .botonComprar {
        font-size: 16px;
    }
}

/* HEADER */

header {
    border-bottom: 2px solid #141414;
}

.nombreMarca {
    color: #141414;
    font-size: 35px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.nombreMarca:hover {
    cursor: pointer;
    cursor: hand;
    color: #141414;
}

menu {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    align-items: baseline;
}

.menuCentro {
    display: flex;
    margin: 0 0 0 10px;
    padding: 0;    
}

.itemMenuCentro {
    font-size: 14px;
    padding: 0 8px;
    color: #141414;
    border: 0;
    background-color: white;
}

.menuDerecha {
    display: flex;
    position: absolute;
    right: 8%;
    margin: -3px;
}

.itemMenuDerecha {
    margin: 0;
    width: 24px;
}

.botonCarrito {
    border: none;
    background-color: white;
}

#banner {
    width: 100%;
    height: 135px;
    object-fit: cover;
}

.form-control {
    width: 200px;
}

@media (min-width: 768px) {

    .nombreMarca {
        font-size: 50px;
    }

    .menuCentro {
        margin: auto;
    }

    .itemMenuCentro {
        padding: 0 15px;
        font-size: 18px;
    }

    .itemMenuDerecha {
        margin: 0 5px;
    }

    .iconify {
        font-size: 20px;
        margin-bottom: -10px;
    }

    #banner {
        height: 400px;
    }
}

@media (min-width: 1024px) {
    #banner {
        height: 520px;
    }
}

/* FOOTER */

footer {
    background: #141414;
    height: auto;
}


.tituloFooter {
    font-size: 23px;
    color: white;
    padding: 20px
}

.tituloFooter:hover {
    cursor: default;
}

.copyright {
    color: white;
    font-size: 9px;
    display: flex;
    margin: 0;
    justify-content: center;
}

.copyright:hover {
    cursor: default;
}

@media (min-width: 768px) {
    .tituloFooter {
        font-size: 35px;
    }

    .copyright {
        font-size: 12px;
    }
}

/* CARRITO */

.collapse {
    width: 320px;
    position: absolute;
    right: -75%;
    top: 50%;
}


.card {
    border-radius: 0;
    border: 2px solid #141414;
    background-color: white;
    text-align: center;
    padding: 10px 0 0 0;
}

.imagenCarrito {
    margin: 0 10px;
    width: 80px;
    height: 100px;
    object-fit: cover;
}

#item {
    display: flex;
    margin: 20px 0;
}

.cartNombreYCantidad {
    margin: auto;
}

.cartNombre {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: start;
}

.tituloCantidad {
    font-size: 12px;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
}

.tituloCantidad:hover {
    cursor: default;
}

.botonEliminar {
    height: 40px;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
    text-align: end;
}

.botonEliminar:hover {
    cursor: pointer;
    cursor: hand
}

.cartPrecio {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: end;
}

.cartPrecio:hover {
    cursor: default;
}

.cartEliminarYPrecio {
    display: inline-block;
    margin: 0 auto;
}

.nroCantidad {
    font-size: 12px;
    padding: 5px;
}

.nroCantidad:hover {
    cursor: default;
}

.cartBoton {
    margin-bottom: -1rem;
    border: 0.5px solid #141414b9;
    padding: 0 5px;
}

.cartBoton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    cursor: hand
}

#total {
    margin: 1rem 0 0 0;
}

#total:hover {
    cursor: hand !important;
}

#botonTotal {
    padding: 2px 10px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #141414;
}

#botonTotal:hover {
    background-color: black;
    color: white;
}

.botonConfirmarCompra{
    background-color: #141414;
    color: white;
}



@media (min-width: 768px) {
    .cartNombre {
        font-size: 15px;
    }

    .tituloCantidad {
        font-size: 14px;
    }

    .nroCantidad {
        font-size: 15px;
    }

    .cartPrecio {
        font-size: 14px;
    }
}



